<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>nexus.ocean.tech.lastmile.com-maven-release-group</id>
            <url>https://nexus.ocean.tech.lastmile.com/repository/maven-release-group/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>atm-nexus-release</id>
            <username>${env.ATM_NEXUS_USERNAME}</username>
            <password>${env.ATM_NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>ocado-maven-releases</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
        <server>
            <id>ocado-maven-snapshots</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
        <server>
            <id>internal.docker.ocean.tech.lastmile.com</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
        <server>
            <id>mirror-internal.docker.ocean.tech.lastmile.com</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
        <server>
            <id>nexus.ocean.tech.lastmile.com-maven-release-group</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
        <server>
            <id>nexus.ocean.tech.lastmile.com-maven-snapshot-group</id>
            <username>gembusci.user</username>
            <password>${env.GEMBUSCI_LDAP_PASSWORD}</password>
        </server>
    </servers>
</settings>
